{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="page-container">
    {% include 'userbar.html' %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Fitness Rejalar Ro'yxati</h2>
                            <a class="au-btn au-btn-icon au-btn--blue" href="{% url 'hisobot_create' %}">
                                <i class="zmdi zmdi-plus"></i>Qo'shish</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Maqsad (Goal)</th>
                                        <th>Kunlik</th>
                                        <th>Haftalik</th>
                                        <th>Sana</th>
                                        <th>Amallar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for hisobot in hisobotlar %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ hisobot.goal|default:"-" }}</td>
                                        <td>{{ hisobot.kunlik|default:"-"|truncatechars:30 }}</td>
                                        <td>{{ hisobot.haftalik|default:"-"|truncatechars:30 }}</td>
                                        <td>{{ hisobot.created_at|date:"Y-m-d H:i" }}</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a class="item" data-toggle="tooltip" href="{% url 'hisobot_edit' pk=hisobot.id %}" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit text-warning"></i>
                                                </a>
                                                <a class="item" data-toggle="tooltip" href="{% url 'hisobot_delete' pk=hisobot.id %}" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete text-danger"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">Hozircha hisobotlar mavjud emas.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}